.dnd5e.sheet.actor .skills-list > .skill-points-menu {
    border: 1px gray solid;
    border-radius: 5px;
    margin: 1px;
    margin-right: 3px;
    margin-bottom: 5px;
    padding: 2px;
}

.dnd5e.sheet.actor .skills-list > .skill-points-menu .csp-title {
    font-size: small;
    text-align: center;
    font-weight: bold;
}

.dnd5e.sheet.actor .skills-list > .skill-points-menu .csp-label {
    font-size: smaller;
    flex: 3;
    margin-left: 2px;
}

.dnd5e.sheet.actor .skills-list > .skill-points-menu .csp-input {
    border: 1px gray solid;
    flex: auto;
    margin-right: 10px;
    max-width: 25px;
    text-align: center;
}

.dnd5e.sheet.actor .skills-list > .skill-points-menu .csp-display {
    border: 1px gray dotted;
}

.dnd5e.sheet.actor .skills-list > .skill-points-menu .csp-wrapper {
    align-items: baseline;
}


.dnd5e.sheet.actor .skills-list > .skill > .skill-ability-select,
.dnd5e.sheet.actor .skills-list > .skill > .skill-points-assigned {
    flex: 0 0 1px;
    margin-right: 2px;
    font-family: Signika;
    height: 1rem;
}

.dnd5e.sheet.actor .skills-list > .skill > .skill-points-assigned {
    border: 1px gray solid;
    padding: 0;
    text-align: center;
}

.dnd5e.sheet.actor .skills-list > .skill > .skill-ability-select {
    padding: 0 2px;
    text-align-last: center;
    -moz-text-align-last: center;
    -ms-text-align-last: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.dnd5e.sheet.actor ul.skills-list li.skill .skill-mod {
    text-align: center;
}

.dnd5e.sheet.actor:not(.alt5e):not(.tidy5e) ul.skills-list {
    flex: 0 0 230px;
    height: 600px;
}

/* tidy 5e compatibility */
.tidy5e.sheet.actor .skills-list > .skill > .skill-ability-select,
.tidy5e.sheet.actor .skills-list > .skill > .skill-cust-bonus {
    height: 0.9rem;
    line-height: 0.8rem;
    font-size: 0.7rem;
    margin-top: -1px;
}
